.main-nav {
    /* border: 1px solid black; */
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    background-color: white;
    align-items: center;
    position: sticky;
    top: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 42px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    justify-content: center;

}

li:hover {
    color: #9F78FF;
}

.logo {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;

}

.icon-circle {
    border: 1px solid rgb(241, 236, 236);
    height: 20px;
    width: 33px;
    border-radius: 50%;
    padding: 4px;
    text-align: center;
}

.bag-icon {
    border: 1px solid rgb(226, 221, 221);
    height: 24px;
    width: 55px;
    border-radius: 24px;
    padding: 7px;
    text-align: center;
    background: #9F78FF;
    color: white;
    margin-left: 10px;
    margin-top: -8px;

}


.bg-image {
    /* border: 1px solid rgb(196, 190, 190); */
    width: 95%;
    height: 900px;
    background-position: center;
    background-image: url(../image/glass.webp);
    margin: auto;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: white;
    margin-top: 175px;
}

.buttons {
    border: 1px solid #9F78FF;
    width: 180px;
    border-radius: 5px;
    color: white;
    /* margin-left: 562px; */
    padding: 18px;
    /* margin-top: -25px; */
    background: #9F78FF;
    position: relative;
    top: 156px;
    left: 615px;
}

.image-container {
    /* border: 1px solid grey; */
    width: 90%;
    /* height: 500px; */
    display: flex;
    gap: 20px;
    margin: auto;
    margin-top: 55px;
    justify-content: center;

}

.inner-con {
    /* border: 1px solid rgb(243, 234, 234); */
    height: 368px;
    width: 289px;
    position: relative;
}

.button-container {
    position: absolute;
    top: 42%;
    left: 20%;
    background: #9F78FF;
    border: 1px solid #9F78FF;
    width: 180px;
    border-radius: 5px;
    color: white;
    padding: 18px;
}

.new {
    font-size: 70px;
    font-weight: 600;
    margin-top: 90px;
    font-family: "Cinzel", serif;
    color: #140C40;
    text-align: center;
}

.arrival {
    font-size: 70px;
    font-weight: 600;
    font-family: "Cinzel", serif;
    color: #140C40;
    margin-top: -63px;
    text-align: center;
}

.pagetwo {
    /* border: 1px solid rgb(231, 230, 230);
    height: 500px;  */
    width: 90%;
    margin-top: 10px;
    margin: auto;
    display: flex;
    gap: 35px;
    justify-content: center;

}

.jumper {
    /* border: 1px solid grey; */
    height: 500px;
    width: 300px;
    position: relative;
}

.knitted {
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline transparent;
    font-family: "Poppins", sans-serif;
    text-align: center;

}

.star {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: -12px;

}

.dollar {
    text-align: center;
    margin-top: 15px;

}

.page-three {
    /* border: 1px solid rgb(231, 230, 230);
    height: 500px; */
    width: 90%;
    margin-top: 70px;
    margin: auto;
    display: flex;
    gap: 35px;
    justify-content: center;
}

.cart-image {
    position: absolute;
    top: 3%;
    left: 78%;
}

.browse {
    border: 1px solid #9F78FF;
    width: 200px;
    border-radius: 5px;
    color: white;
    /* margin-left: 635px; */
    padding: 20px;
    /* margin-top: 65px; */
    background: #9F78FF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    position: relative;
    top: 40px;
    left: 625px;
}

.backgroundimg-two {
    /* border: 1px solid grey; */
    width: 95%;
    height: 670px;
    background-position: center;
    background-image: url(../image/bg\ image\ two.webp);
    margin: auto;
    background-repeat: no-repeat;
    /* margin-top: 70px; */
    position: relative;
    top: -70px;
}

.girlimg-two {
    text-align: center;
    font-size: 70px;
    color: #fff;
    margin-top: 215px;
    font-weight: 500;
    font-family: "Cinzel", serif;
}

.button-about {
    border: 1px solid #9F78FF;
    width: 180px;
    border-radius: 5px;
    color: white;
    margin-left: 610px;
    padding: 20px;
    margin-top: -30px;
    background: #9F78FF;
    font-size: 20px;
    text-align: center;
}

.main-final-image {
    /* border: 1px solid black; */
    display: flex;
    gap: 30px;
    justify-content: center;
    /* height: 500px; */
    width: 95%;
    margin: auto;
    /* max-width: 1000px; */

}

.inner-final-image {
    border: 1px solid rgb(216, 214, 214);
    height: 530px;
    width: 690px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1000px;

}

.para {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    position: relative;
    top: 240px;
    left: 39px;
}

.read-more {
    background: #9F78FF;
    border: 1px solid #9F78FF;
    width: 205px;
    border-radius: 5px;
    color: white;
    padding: 12px;
    position: relative;
    top: 215px;
    left: 40px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.main-delivery {
    /* border: 1px solid grey; */
    height: 450px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f7f7fd;
    /* margin-top: 10px; */
    margin: auto;


}

.inner-delivery {
    /* border: 1px solid black; */
    /* height: 300px; */
    width: 250px;
    margin: auto;
}

.vehicle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
    color: #2B2B2B;
    font-family: "Poppins", sans-serif;
}

.motor {
    color: #57667e;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.final-container {
    border: 1px solid grey;
    height: 600px;
    width: 95%;
    display: flex;
    justify-content: space-around;
    background: #1D2547;
    margin: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding-top: 90px;
    padding-bottom: 50px;

}

.shion {
    border: 1px solid black;
    height: 400px;
    width: 300px;
}

.quick-link {

    border: 1px solid black;
    height: 300px;
    width: 200px;
}

.shop-category {
    border: 1px solid black;
    height: 300px;
    width: 200px;

}

.pertners {
    border: 1px solid black;
    height: 300px;
    width: 200px;

}

.getin-touch {
    border: 1px solid black;
    height: 300px;
    width: 200px;

}

.style {
    color: #C2C5DB;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    position: relative;
    top: 30px;
}

.logotwo {
    position: relative;
    top: 85px;
    left: -64px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;

}